 
<!DOCTYPE html>
<meta name="SATX FSHD Social" content="Local resources for San Antonio are FSHD patients and caregivers">

 <style>
   #id_tags{
		max-height: 100px;
		overflow-y: scroll;
		border:1px solid #888;
		padding: 5px;
		border-radius: 5px;
	}
 </style>
 

<div class="card mb-4">
  <div class="card-header">Contact us - this will open your mail client</div>
  <div class="card-body"><form action="mailto:fshcommunity@fshdsociety.org" method="post" enctype="text/plain">
    <form action="mailto:fshcommunity@fshdsociety.org" method="post" enctype="text/plain">
    
  Name:<br>
  <input type="text" name="name"><br>
  E-mail:<br>
  <input type="text" name="mail"><br>
  Comment:<br>
  <input type="text" name="comment" size="25"><br><br>
  <input type="submit" value="Send">
  <input type="reset" value="Reset">
  </form>

  </div>
</div>

<div class="card mb-4">
  <div class="card-header">FSHD Donations and Mech</div>
  <div class="card-body"><p class="card-text"><a href="https://www.bonfire.com/store/fshd-society/">WORLD FSHD DAY & STRONGER THAN SHIRTS - FSHD Society</p>
    <a href="https://www.fshdsociety.org/make-a-donation/">Direct donations - FSHD Society</p>
      <a href="https://smile.amazon.com">Support the FSH Society simply by shopping on AmazonSmile! It’s easy and doesn’t cost you a cent extra. When shopping on Amazon, simply do it through the AmazonSmile portal (smile.amazon.com). The first time you sign up at AmazonSmile, just choose the FSH Society as your charity of choice. Then start shopping!</p>

  </div>
</div>


